body{
    background-color: hsla(183, 48%, 85%, 0.671);
    background-image: url('images/pattern-background-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Red Hat Display, sans-serif;
}
.card{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width:400px;
    height:620px;
    border-radius: 25px;
    background-color: white;
    text-align: center;


}
img{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}

p{
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    padding-left: 0.8rem; 
    padding-right: 0.8rem; 
}
h1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
h2{
    color: hsl(223, 47%, 23%);
position: relative;
   right: 22% ;
    top: 1%;
    padding-top: 0.4rem;
    font-size: 16px;
}

.music{
   align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    background-position: center;
    width: 90%;
    margin-left: 20px;
    height: 15%;
    margin-bottom: 40px;
    vertical-align: middle;
    
}
.price{
    position: relative;
  color:   hsl(224, 23%, 55%);
  right: 15%;
  bottom: 20%;
}

.icon{
    position: relative;
   float: left;
    padding-top:  23px;
    padding-left: 20px;
}
a{
    float: right;
   position: relative;
   right: 15%;
  bottom: 76%;
    font-size: 16px;
    color:   hsl(245, 75%, 52%);
    font-weight: 700;
}
a:hover{
  color:  hsl(224, 23%, 55%);;}

.btn{
    background-color: hsl(245, 75%, 50%);
    color:white;
    text-decoration: none;
    padding: 10px;
    width:300px;
    margin: 10px;
    border-radius: 10px;
    border: white;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 5px 25px -5px rgb(97, 94, 94);
}
.btn:hover{
  background-color:   hsl(224, 23%, 55%);
    color: rgb(69, 212, 164);
    cursor: pointer;
}
.btn2{
    background-color: white;
    color:hsl(224, 23%, 55%);
    width:200px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size:16px;
    padding: 10px;
    box-shadow: 0px 5px 25px -5px rgb(238, 236, 236);
}
.btn2:hover{
  color: blue;
    cursor: pointer;
    background-color:hsl(175, 83%, 49%);
}
@media screen and (min-width: 375px) {
    .card{
width:375px;
}

}
