body{
    background-color: hsla(183, 48%, 85%, 0.671);
    background-image: url('images/pattern-background-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Red Hat Display, sans-serif;
}
.card{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    width:400px;
    height:620px;
    border-radius: 25px;
    background-color: white;
    text-align: center;


}
img{
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}

p{
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    padding-left: 0.8rem; 
    padding-right: 0.8rem; 
}
h1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
h2{
    color: hsl(223, 47%, 23%);
position: relative;
/*    right: 22% ;
    top: 1%; */
    padding-top: 0.4rem;
    font-size: 14px;
}

.music{
/*    align-items: center; */
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
/*     background-position: center; */
    width: 90%;
    margin-left: 20px;
    height: 15%;
    padding: 0 1rem;
    margin-bottom: 30px;
/*     vertical-align: middle; */
    display: flex;
}
.price{
/*     position: relative; */
  color:   hsl(224, 23%, 55%);
/*   right: 5%;
  bottom: 15%; */
}

.icon{
/*     position: relative; */
/*    float: left; */
    
}
.icon-img{
    padding-top:  23px;
    padding-left: 20px;
}
.link{
    padding: 2rem 2rem 2rem .5rem;
}
a{

/*     margin-left: 2rem; */
/*      */
    font-size: 16px;
    color:   hsl(245, 75%, 52%);
    font-weight: 700;
}
a:hover{
  color:  hsl(224, 23%, 55%);;}

.btn{
    background-color: hsl(245, 75%, 50%);
    color:white;
    text-decoration: none;
    padding: 10px;
    width:300px;
    margin: 3px;
    border-radius: 10px;
    border: white;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 5px 25px -5px rgba(97, 94, 94, 50%);
}
.btn:hover{
  background-color:   hsl(224, 23%, 55%);
    color: rgb(69, 212, 164);
    cursor: pointer;
}
.btn2{
    background-color: white;
    color:hsl(224, 23%, 55%);
    width:200px;
    border: none;;
    margin: .2rem
    border-radius: 5px;
    font-weight: 700;
    font-size:16px;
    padding: 10px;
    
}
.btn2:hover{
  color: blue;
    cursor: pointer;
    background-color:hsl(175, 83%, 49%);
}
.payment{
    margin: 1.5rem 0;
}
@media screen and (min-width: 375px) {
    .card{
width:375px;
}

}
